.card{
    display: flex;
    flex-direction: column;
    margin: 3px;
    padding:10px;
    width: 30%;
    border:#9C27B0 dotted;
    border-radius: 10px;
    height: auto;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 500px;
  }
}

.card img{
    margin-left:auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    cursor:pointer;
    border-radius: 10px;
}
.card button{
    background-color: #9C27B0;
    border-radius: 5px;
    width: 150px;
    color: white;
    margin: auto auto 4px auto;
}

app-alertas-produto{
    margin: 4px auto 4px auto;
}


.card div{
    text-align: center;
}

.productContainer{
    display: flex;
    flex-wrap: wrap;
}
