<table mat-table [dataSource]="produtos">

    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descricao </th>
        <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
    </ng-container>

    <ng-container matColumnDef="preco">
        <th mat-header-cell *matHeaderCellDef> Pre&ccedil;o </th>
        <td mat-cell *matCellDef="let element"> {{element.preco| currency:'BRL'}} </td>
    </ng-container>

    <ng-container matColumnDef="estoque">
        <th mat-header-cell *matHeaderCellDef>Estoque </th>
        <td mat-cell *matCellDef="let element"> {{element.estoque}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/produtos', row.id]"></tr>
</table>